.navbar{
    justify-content: space-between;
}

span{
    padding-right: 1rem;
}

mat-sidenav{
    background-color: #1976D2;
    padding: 1rem;
    width: 200px;
    border-top-right-radius: 25px;
    /* border-bottom-right-radius: 25px; */
}

mat-sidenav-container{
    height: 100%;
}

.menu-logo{
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
}
.mat-icon-menu:hover{
    cursor: pointer;
}
.menu-logo>h1{
    margin-left: 1rem;
}
.sidenav-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
}
.sidenav-menu>button{
    margin-bottom: 1rem;
}