<div class="lr-container">
  <!-- <mat-card-content> -->
  <p>
    <mat-form-field class="mat-forn-w-100" appearance="outline">
      <mat-label>Username</mat-label>
      <input [(ngModel)]="user.username" type="email" matInput placeholder="Placeholder" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="mat-forn-w-100" appearance="outline">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="user.password" type="password" matInput placeholder="Placeholder" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="mat-forn-w-100" appearance="outline">
      <mat-label>Age</mat-label>
      <input [(ngModel)]="user.age" matInput placeholder="Placeholder" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>

  <!-- </mat-card-content> -->
  <!-- <mat-card-actions class="mca"> -->
  <button class="mat-b-100" mat-button (click)="register()">Register</button>
  <!-- <button mat-button>SHARE</button> -->
  <!-- </mat-card-actions> -->
</div>
