<table mat-table [dataSource]="proveedores" class="mat-elevation-z8 table-proveedores">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="RFC">
      <th mat-header-cell *matHeaderCellDef> RFC </th>
      <td mat-cell *matCellDef="let p"> {{p.rfc}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Razon Social">
      <th mat-header-cell *matHeaderCellDef> Razon Social </th>
      <td mat-cell *matCellDef="let p"> {{p.razonSocial}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Contacto">
      <th mat-header-cell *matHeaderCellDef> Contacto </th>
      <td mat-cell *matCellDef="let p"> {{p.nombreContacto}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Telefono">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let p"> {{p.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let p">
        <mat-icon [routerLink]="['/proveedores/form/', p.rfc]" class="mi-edit" aria-hidden="false" aria-label="">edit</mat-icon>
        <mat-icon (click)="delete(p)" class="mi-delete" aria-hidden="false" aria-label="">delete</mat-icon>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  