<div class="lr-container">
<!-- <mat-card-content> -->
    <p>
        <mat-form-field class="mat-forn-w-100" appearance="outline">
          <mat-label>Username</mat-label>
          <input [(ngModel)]="username" type="email" matInput placeholder="Placeholder" />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </p>
    
      <p>
        <mat-form-field class="mat-forn-w-100" appearance="outline">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="password" type="password"  matInput placeholder="Placeholder" />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </p>
    <!-- </mat-card-content> -->
    <!-- <mat-card-actions class="mca"> -->
      <button class="mat-b-100" mat-button (click)="login()">Login</button>
      <!-- <button mat-button>SHARE</button> -->
    <!-- </mat-card-actions> -->
</div>