.example-card {
    max-width: 400px;
    margin: 0 auto;

    margin-top: 2rem;

    /* padding: 0!important; */

}

.mch{
    margin-bottom: 2rem!important;
}

.mat-tab-label-container{
    margin-bottom: 3000rem!important;
}

